* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif; }

.header {
  display: flex;
  flex-direction: column;
  background-color: #333333; }
  .header .caption1 {
    display: flex;
    justify-content: center; }
    .header .caption1 h1 {
      padding: 20px;
      font-weight: bold;
      font-size: 50px; }
  .header .navigation {
    display: flex;
    justify-content: center;
    padding: 20px; }
    .header .navigation ul {
      display: flex;
      justify-content: space-between;
      width: 1000px;
      list-style: none; }
      .header .navigation ul li a {
        font-weight: bold; }
        .header .navigation ul li a:hover {
          text-decoration: none;
          color: gray; }
      .header .navigation ul li .active {
        text-decoration: none; }
        .header .navigation ul li .active:hover {
          text-decoration: none;
          color: #ffffff; }

.text_container {
  display: flex;
  justify-content: center;
  margin: 50px 0; }
  .text_container .text {
    width: 700px; }
    .text_container .text .caption2 {
      display: flex;
      justify-content: center; }
      .text_container .text .caption2 h2 {
        padding: 20px;
        font-weight: bold;
        color: #333333;
        font-size: 40px; }
    .text_container .text p {
      color: #333333;
      padding: 20px; }

.movies_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0; }
  .movies_container .caption3 h3 {
    padding: 20px;
    font-weight: bold;
    font-size: 30px; }
  .movies_container .movies {
    display: flex;
    justify-content: space-between;
    width: 1400px; }
    .movies_container .movies .movie {
      display: flex;
      flex-direction: column;
      background-color: #333333;
      width: 425px; }
      .movies_container .movies .movie .caption4 {
        display: flex;
        justify-content: center; }
        .movies_container .movies .movie .caption4 h4 {
          padding: 20px;
          font-weight: bold;
          font-size: 20px; }
      .movies_container .movies .movie figure img {
        width: 100%; }
      .movies_container .movies .movie figure figcaption {
        padding: 20px; }

.footer {
  display: flex;
  justify-content: center;
  background-color: #333333; }
  .footer p {
    padding: 20px; }
  .footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 300px;
    padding: 20px; }
    .footer ul li a {
      font-weight: bold; }
      .footer ul li a:hover {
        text-decoration: none;
        color: gray; }
